#container{
width:1024px;
height:auto;	
margin: 0 auto;
box-shadow: 0px 0px 15px #A3A3A3; 
display: block;
border-radius:10px;
background-color:#ffffff;
overflow:auto;
padding:0px;

}

body{
background-image:url('bg.jpg');
font-family: Arial, Verdana, Geneva, Sans-Serif;
font-size: 12pt;
color: #000000;
}

#header{
margin-top:-21px;
color: #ffffff;
line-height: 75px;
border-radius:10px 10px 0px 0px;
width:1024px;
height:75px;
background-color:#80B2FF;
}

#wsource, #wdestination{
margin: 0px 0px 0px 420px;
}

#cityform{
float:left;
margin:5px;
border: 1px solid #FFA319;
}

table tr, table td {
border: none;}

#weatherform{
float:left;
margin:5px;
border: 1px solid #999999;
}

#block2{
color: #ffffff;
text-decoration: none;
font-weight: bold;	
background-color:#999999; 
border:none; 
padding:2px 3px;
}

#block1{
color: #ffffff;
text-decoration: none;
font-weight: bold;	
background-color:#FFA319; 
border:none; 
padding:2px 3px;
}

#button{
color: #ffffff;
text-decoration: none;
font-weight: bold;	
background-color:#80B2FF; 
border:none; 
padding:4px 4px; 
cursor:pointer;
}

#leftpane{ 
height:auto;
width:300px;
float:left;
 }

#google{
float:right;
color:#ffffff;
font-weight:bold;
width: 1024px;
height:30px;
line-height:30px;
margin: 0px;
padding: 0px;
background-color:#80B2FF;
}

#map-canvas {
float:right;
width: 474px;
height: 700px;
margin: 0px;
padding: 0px;
}

#panel {
position: absolute;
top: 5px;
left: 50%;
margin-left: -180px;
z-index: 5;
/*background-color: #fff;*/
padding: 5px;
border: 1px solid #999;
}

#steps{
/*height: 700px;*/
float: left;
/*width: 200px;*/
/*background-color: #fff;*/
margin-left:5px;
margin-top:5px;
}

     
      #directions-panel {
        height: 700px;
        float: right;
        width: 200px;
        overflow: auto;
      }

      #control {
        /*background-color: #fff;*/
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;